.FullPost {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  margin: 100px auto;
}

.FullPost h1 {
  height: 50px;
}

.FullPost p {
  font-size: 1.4em;
  text-indent: 1.5em;
  text-align: justify;
  margin: 20px 0;
  padding-left: ;
}
.FullPost p::first-letter {
  text-transform: capitalize;
}

.Edit {
}

.Edit label {
  display: block;
  color: grey;
}

.Edit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: darkred;
}
